.App {
  text-align: center;
}

:root{
  --secondary-color: #012148;
  --primary-color: white;
  --selection-color: #d1d1d1;
}
.button{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 20px;
  

}





